
.counter {
    border: 3px solid cadetblue;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    margin-left: 20px;
    background-color: #002030;
}

.buttonBlock {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 280px;
    height: 100px;
}

